---
layout: default
---

{% assign sorted_categories = site.categories | sort %}

  <div class="row">
  {% for category in sorted_categories %}
    <div class="col-xs-6 col-sm-3">
      <a name="{{ category | first }}"</a>
      <h3>{{ category | first | upcase }}</h3>
      <ul>
      {% for posts in category %}
        {% for post in posts %}
          {% if post.website_url %}
            <li><a href="{{ post.website_url }}" target="_blank">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
