---
layout: default
---

  {% assign sorted_categories = site.categories | sort %}


  <ul class="nav nav-pills">
  {% for category in sorted_categories %}
    <li role="presentation"><a href="#{{ category | first }}">{{ category | first | upcase }}</a></li>
  {% endfor %}
  </ul>

<div class="container-fluid">
  <div class="row">
  {% for category in sorted_categories %}
    <div class="col-xs-6 col-sm-3">
      <a name="{{ category | first }}"</a>
      <h3>{{ category | first | upcase }}</h3>
      <ul>
      {% for posts in category %}
        {% for post in posts %}
          {% if post.website_url %}
            <li><a href="{{ post.website_url }}" target="_blank">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
